{% if pagination['firstPage'] is defined or pagination['lastPage'] is defined %}
    <nav>
        <ul class="pagination">
            {% if pagination['prevPage'] is defined %}
                <li>
                    {% set url = pagination['url'] %}
                    {% if pagination['prevPage'] > 1 %}
                        {% set url = url ~ '?page=' ~ pagination['prevPage'] %}
                    {% endif %}
                    <a class="prev" rel="prev" href="{{ url }}"
                       aria-label="Previous">
                        <span aria-hidden="true"></span>
                    </a>
                </li>
            {% endif %}
            {% if pagination['firstPage'] is defined %}
                <li>
                    {% set url = pagination['url'] %}
                    {% if pagination['firstPage'] > 1 %}
                        {% set url = url ~ '?page=' ~ pagination['firstPage'] %}
                    {% endif %}
                    <a href="{{ url }}">{{ pagination['firstPage'] }}</a>
                </li>
            {% endif %}
            {% if pagination['morePreviousPages'] is defined %}
                <li>...</li>
            {% endif %}
            {% if pagination['previousPages'] is defined %}
                {% for previousPage in pagination['previousPages'] %}
                    <li>
                        {% set url = pagination['url'] %}
                        {% if previousPage > 1 %}
                            {% set url = url ~ '?page=' ~ previousPage %}
                        {% endif %}
                        <a href="{{ url }}">{{ previousPage }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            <li>{{ pagination['currentPage'] }}</li>
            {% if pagination['nextPages'] is defined %}
                {% for nextPage in pagination['nextPages'] %}
                    <li>
                        <a href="{{ pagination['url'] ~ '?page=' ~ nextPage }}">{{ nextPage }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if pagination['moreNextPages'] is defined %}
                <li>...</li>
            {% endif %}
            {% if pagination['lastPage'] is defined %}
                <li>
                    <a href="{{ pagination['url'] ~ '?page=' ~ pagination['lastPage'] }}">{{ pagination['lastPage'] }}</a>
                </li>
            {% endif %}
            {% if pagination['nextPage'] is defined %}
                <li>
                    <a class="next" rel="next" href="{{ pagination['url'] ~ '?page=' ~ pagination['nextPage'] }}"
                       aria-label="Next">
                        <span aria-hidden="true"></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
